{% include 'sitio/head.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <h5 class="card-header">Bienvenido Administrador</h5>
                <div class="card-body">
                    <h5 class="card-title">Introducción</h5>
                    <p class="card-text">
                        Bienvenido al panel de administración. Aquí podrás gestionar los equipos y sus responsables. 
                        Utiliza las opciones del menú para navegar a las diferentes secciones donde podrás:
                    </p>
                    <ul>
                        <li>Registrar nuevos equipos.</li>
                        <li>Editar la información de los equipos existentes.</li>
                        <li>Eliminar equipos que ya no sean necesarios.</li>
                    </ul>
                    <p class="card-text">
                        Si tienes alguna duda, no dudes en contactar con el soporte técnico.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'sitio/footer.html' %}